.nav {
  text-align:center;
  float:none;
}

.h-600 {
    height:600px;  
}

.h-800 {
    height: 800px;
}

.h-1000 {
    height: 1000px;
}

#jumbotron1{
    background-color:black;
    background-size: cover;
    color: #ffffff;
}

#jumbotron2{
    background-image: url("../img/1920x1080_wooden-stage.jpg");
    background-size: cover;
    color: #ffffff;
}

.social-media-logos {
    height:29px;
    width:29px;
}

.shadow {
    box-shadow: 3px 3px 8px #888888;
}
